.box{
   
    margin-top: 10px;
}
span{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 18px;
    
}
input{
    margin: 10px;
    border-radius: 28px;
    border: none;
    background-color: #fff;
    color: rgb(32, 32, 32);
    width: 80%;
    height: 40px;
    padding: 10px;
}
button{
    margin-right: 10px;
    background-color: blue;
    color: #fff;
    height: 40px;
    width: 200px;
    border-radius: 28px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}